.home {
  display: grid;
  place-content: center;
  flex: 1;
  height: 100%;
  margin-top: 3rem;

  #avatar-div {
    text-align: center;

    place-items: center;
    #avatar {
      border: none;
      border-radius: 100%;
      width: 125px;
      margin-bottom: 1rem;
      align-items: center;
    }
  }

  .title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .subtitle {
    font-size: 1.6rem;
    margin-bottom: 6px;
  }

  .description {
    font-size: 1.3rem;
  }

  .text-center {
    text-align: center;
  }
}

.footer {
  text-align: center;
  display: grid;
  align-content: center;
  justify-content: center;
  margin-top: 9.2rem;
  margin-bottom: 3rem;

  .social-links {
    text-align: center;
    font-size: 2.9rem;
  }
}
