:root {
  --light-bg: #ffffff;
  --light-color: #24292e;
  --dark-bg: #22272e;
  --dark-color: #e1e1e6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--light-color);
}

body.dark {
  background-color: var(--dark-bg);
  color: var(--dark-color);
}

#root {
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;

  font-size: 1.2rem;

  a {
    list-style: none;
    text-decoration: none;
  }

  li {
    display: inline-block;
    padding: 0 10px 0 10px;
  }

  #change-theme {
    cursor: pointer;
    width: 26px;
    height: 26px;
    margin-right: 1.8rem;
    position: relative;
  }
}

a {
  color: var(--light-color);
}

.dark a {
  color: var(--dark-color);
}